<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="thumbnail">
          <img class="image img-rounded" ng-src="{{baseApi}}/imagens/{{picture.id}}.jpg">
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Data: {{picture.data_submissao | dateFormatFilter }}</p>
            <p>Descricão: {{picture.descricao}}</p>
            <p>Vendas: {{picture.vendas}}</p>
            <p>Dimensões: {{picture.height}}x{{picture.width}}</p>
          </div>
        </div>
      </div>
      <div ng-show="!picture.isInCart" class="modal-footer">
        <button type="button" ng-click="buy()" data-dismiss="modal" class="btn btn-success btn-lg">Adicionar ao carrinho
        </button>
      </div>
    </div>
  </div>
</div>