<div class="ui container">
    <form class="ui form">
      <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" ng-model="name" placeholder="Nome">
      </div>
      <div class="form-group">
        <label>CNPJ</label>
        <input type="text" class="form-control" ng-model="cnpj" placeholder="CNPJ">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" ng-model="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" ng-model="password" placeholder="Senha">
      </div>
      <div class="form-group">
        <label>Confirmar Senha</label>
        <input type="password" class="form-control" ng-model="passwordConfirmation" placeholder="Senha">
      </div>
      <!-- <div class="form-group">
        <div class="btn-group" uib-dropdown is-open="status.isopen">
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            País<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="">Brasil</a></li>
          </ul>
        </div>
      </div> -->
      <button class="btn btn-default" ng-click="register()" type="submit">Criar</button>
    </form>
</div>