<div class="ui container">
    <form class="ui form">
      <div class="field">
        <label>Nome</label>
        <input type="text" name="first-name" placeholder="First Name">
      </div>
      <div class="field">
        <label>CNPJ</label>
        <input type="text" name="last-name" placeholder="Last Name">
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" name="last-name" placeholder="Last Name">
      </div>
      <div class="field">
        <label>País</label>
        <select class="ui search dropdown">
          <option value="">Selecionar País</option>
          <option value="BR">Brasil</option>
        </select>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
</div>