<div class="ui container login-page">
    <form class="ui form">
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" ng-model="email" placeholder="Email" maxlength="50" size="50">
      </div>
      <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" ng-model="senha" placeholder="Senha" maxlength="16" size="16">
      </div>
      <button class="btn btn-default" ng-click="login(email, senha)" type="submit">Login</button>
    </form>
</div>