<div class="row text-center buy-page-row">
  <button type="button" ng-click="removeAll()" class="btn btn-danger">Cancelar</button>
  <button type="button" class="btn btn-success">Comprar</button>
</div>
<div ng-repeat="(index, picture) in items" class="col s12 m4 l12">
  <div class="col-md-4">
    <div class="thumbnail">
      <img class="image img-rounded" ng-src="http://pixews.com/image/{{picture.arquivo}}">
      <div class="caption">
        <p>{{picture.descricao[0]}}</p>
        <p>
          <a class="btn btn-primary" ng-click="showPicture(picture)" role="button">Visualizar</a>
          <a class="btn btn-danger" ng-click="removeItem(index)" role="button">Excluir</a>
        </p>
      </div>
    </div>
  </div>
</div>