<div class="row text-center buy-page-row">
  <button type="button" ng-click="removeAll()" class="btn btn-danger">Cancelar</button>
  <button type="button" ng-click="buy()" class="btn btn-success">Comprar</button>
</div>
<div ng-repeat="(index, picture) in items" class="col s12 m4 l12 buy-page-mosaic">
  <div class="col-xs-3 col-md-3">
    <button type="button" class="close" ng-click="removeItem()" aria-hidden="true">&times;</button>
    <a class="thumbnail buy-page-thumbnail">
      <img class="image img-rounded" ng-src="{{baseApi}}/imagens/{{picture}}.jpg">
    </a>
  </div>
</div>