* {
  font-family: 'News Cycle', sans-serif;
}

.navbar {
  margin-bottom: 0px;
  background-color: #FFFFFF;
}

body {
  background-color: #029BE5;
}

.image {
  min-width: 100%;
  min-height: 50px;
  background:url('../images/ripple.gif') no-repeat center center;
}

a:hover {
  cursor: pointer;
}

.buy-page-price {
  color: #FFF;
}

.buy-page-image:hover {
  opacity: 0.5;
}

.buy-page-thumbnail:hover ~ .buy-page-delete-button{
  display: block;
}

.buy-page-delete-image {
  width: 48px;
  height: 48px;
}

.buy-page-delete-button {
  position: absolute;
  top: 45%;
  left: 45%;
  display: none;
}

.profile-page, .login-page, .register-page {
  padding-top: 5rem;
}

.search-page, .buy-page-mosaic, .my-pictures-page-mosaic {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.search-page-cart {
  position: absolute;
  top: 1rem;
  border-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding;
  background-clip:         padding-box;
}

.jumbotron {
  padding-top: 15rem;
  background:url('../images/jumbotron-bg.jpg') no-repeat;
  background-size: cover;
  color: #fff;
}

.jumbotron-container {
  padding: 5rem;
  text-align: center;
}

.home-input-group > *, .home-input-group .btn {
  height: 60px;
}

.buy-page-row {
  margin-top: 3rem;
  margin-bottom: 0rem;
}

.home-page {
  background-color: #e7e7e7;
  font-size: 16px;
}

.footer-above {
  padding: 6rem;
}

.footer-below {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bg-section {
  background-color: #029BE5;
  color: #fff;
  font-size: 16px;
}

.bg-section-inverted {
  color: #029BE5;
  background-color: #fff;
}

hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

hr.star-primary {
  border-color: #2C3E50;
}

hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}