* {
  font-family: 'News Cycle', sans-serif;
}

.navbar {
  margin-bottom: 0px;
  background-color: #FFFFFF;
}

body {
  background-color: #029BE5;
}

.image {
  min-width: 100%;
  min-height: 50px;
  background:url('../images/ripple.gif') no-repeat center center;
}

a:hover {
  cursor: pointer;
}

.buy-page-image:hover {
  opacity: 0.5;
}

.buy-page-thumbnail:hover ~ .buy-page-delete-button{
  display: block;
}

.buy-page-delete-image {
  width: 48px;
  height: 48px;
}

.buy-page-delete-button {
  position: absolute;
  top: 45%;
  left: 45%;
  display: none;
}

.profile-page, .login-page, .register-page {
  padding-top: 5rem;
}

.search-page, .buy-page-mosaic, .my-pictures-page-mosaic {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.jumbotron {
  padding-top: 15rem;
  background:url('../images/jumbotron-bg.jpg') no-repeat;
  background-size: cover;
  color: #fff;
}

.jumbotron-container {
  padding: 5rem;
}

.home-input-group > *, .home-input-group .btn {
  height: 60px;
}

.buy-page-row {
  margin-top: 3rem;
  margin-bottom: 3rem;
}